-------
<p>
  reactive-multiple-form works!
</p>
<br />
<form [formGroup]="loginForm">
  <div class="form-group">
    <label for="formGroupExampleInput">Email label</label>
    <input type="text" formControlName="email" class="form-control" id="formGroupExampleInput" placeholder="Email input">
  </div>

  <div class="alert alert-danger" role="alert" *ngIf="emailControl.touched && emailControl.hasError('required')">
    <strong>Oh snap!</strong> this Field is required.
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="emailControl.touched && emailControl.hasError('email')">
    <strong>Oh snap!</strong> Not a valid email.
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="emailControl.touched && emailControl.hasError('hasSpaceCheck')">
    <strong>Oh snap!</strong>Space Not Allowed.
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="emailControl.touched && emailControl.hasError('endWithDotComCheck')">
    <strong>Oh snap!</strong>Only Dot Com Domain Allowews.
  </div>

  <div class="form-group">
    <label for="formGroupExampleInput2">Password label</label>
    <input type="text" formControlName="password" class="form-control" id="formGroupExampleInput2" placeholder="Password input">
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="passControl.touched && passControl.hasError('required')">
    <strong>Oh snap!</strong> this Field is required.
  </div>
  <!-- <button class="btn btn-success" (click)="displayGroup()"> Test Button </button> -->

  <div formGroupName="address">
    <input class="form-control mb-3" placeholder="Addres Line1" type="text" formControlName="addressLine1">
    <input class="form-control mb-3" placeholder="Address Line2" type="text" formControlName="addressLine2">
    <select class="custom-select mb-3" formControlName="city">
      <option selected="">Open this select menu</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
      <!-- <option *ngFor="let city of cities" value="city">{{ city }}</option> -->
    </select>
    <input class="form-control mb-3" placeholder="State" type="text" formControlName="state">
  </div>
</form>
<div class="text-center">
  <button [disabled]="loginForm.invalid" class="btn btn-primary" (click)="submitForm()">
    Submit Form
  </button>
</div>
<br />
<div class="text-center">
  <button class="btn btn-primary" (click)="setDataToform()">
    Setsome value Form
  </button>
</div>
<br />
<div class="text-center">
  <button class="btn btn-primary" (click)="setFewDataToform()">
    setFewData To form
  </button>
</div>
<!-- Form State -->
<div>
  valid : {{ loginForm.valid }} <br>
  touched : {{ loginForm.touched }} <br>
  dirty : {{ loginForm.dirty }} <br>
  value : {{ loginForm.value | json }}
</div>