Example of Structural Directives-Nested Components
<h4>--prent page Start--</h4>
<div>
  here using #parentValue as template refernace variable <br/>
  <label>Parent_input</label>
  <input type="text" id='parentinput' #parentValue (keyup)='0' />
  <!-- Initializing keyup event to some value as we are doing nothing and we just want key boared i/p value in #parentValue -->
</div>
<!-- {{parentValue}}<br />
{{parentValue|json}}<br />
{{parentValue.value}}<br /> -->
<br/>
Data From Child: {{childData}}
<br/>
<app-child [valueFromParent]='parentValue.value'  (customChildEvent) = 'childData = $event'></app-child>
<!--Sending a variable from parent to child-->
<h4>--prent page Finish--</h4>