<div class="container">
  ----<br />
  Example for Interpolation
  Hello World! of {{title}}
  <br />----<br />
  Example of Event Binding
  <br />
  Data from component {{data}}
  <br />
  <button (click)='onClick()'>Chnage data</button>
  <br />----<br />
  <p>Attaching Seccond-component as nested component to parent</p>
  ----<br />
  <app-second-component></app-second-component>
  <app-third></app-third>
  <app-two-way-binding></app-two-way-binding>
  <app-two-way-class></app-two-way-class>
  <app-parent></app-parent>
  <app-pipe-nfilter></app-pipe-nfilter>
  <app-city></app-city>
  <app-ng-if-example></app-ng-if-example>
  <app-ng-switch-example></app-ng-switch-example>
  <app-weather-dispaly></app-weather-dispaly>
</div>